html, * {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#game-display {
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20,1fr);
    grid-gap: 5px;
    position: relative;
    width: 500px;
    height: 500px;
}

#game-display div {
    background-color: darkolivegreen;
}

#zmeya {
    grid-column: 2;
    grid-row: 2;
}

